<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
	<div class="container-fluid"> 
	  <img src="/W.WR.png"style="width: 70px ;height: 60px; margin-right: 5px"><a class="navbar-brand" href="/">Wedding Restaurant</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  </button>
	     <form class="form-inline my-2 my-lg-0" action="/search" method="GET">
		  <input class="form-control mr-sm-3" type="search" placeholder="Tìm kiếm" aria-label="Search" name="q" style="width: 250px;">
		  <button type="submit"><i class="fa fa-search"
			aria-hidden="true"></i></button>
	    </form>
	    <!-- COL-AUTO START  -->
	    <div class="ml-auto">
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="/">Trang chủ</a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="/news">Tin tức</a>
			  </li>
			  <li class="nav-item active">
		        <a class="nav-link" href="/policy">Chính sách</a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" href="/listchat">Tin nhắn</a>
			  </li>
			  <li class="nav-item active">
		        <a class="nav-link" href="/chatbot">Chat Bot</a>
		      </li>
		    </ul>
		    <div class="attr-nav">
		    	<!-- thêm span cho giỏ hàng -->
		    	 <button class="cart">
					 <i  class="fa fa-shopping-cart" aria-hidden="true"></i>
					<% if(!ghinho.length){%>
						<span id="count"  class="badge">0</span>
					<% }else{%>
                        <span id="count" class="badge"><%-ghinho.length%></span>
					<% }%>
		    	 	
			</button>
			</div>
			<%if(login == 'yes'){%>
				<li class="lneWsb"> 
					<i class="fa fa-user-circle" aria-hidden="true"></i>
					<span class="cbYxcp"><%-fullname%></span>
					<ul class="sub-menu">
						<li>
							<a class="name-li" href="/information">
								Tài khoản của tôi
							</a>
						</li>
						<li>
							<a class="name-li" href="/myorder">
								Đơn hàng của tôi 
							</a>
						</li>
						<li>
							<a class="name-li" href="/updatepass">
								Đổi mật khẩu
							</a>
						</li>
						<li>
							<a class="name-li" id="dangxuat" href="/logout">
								Đăng xuất
							</a>
						</li>
					</ul>
				  </li>

			<%}else if(login == 'passport'){%>
				<li class="lneWsb"> 
					<i class="fa fa-user-circle" aria-hidden="true"></i>
					<span class="cbYxcp"><%-fullname%></span>
					<ul class="sub-menu">
						<li>
							<a class="name-li" href="/information">
								Tài khoản của tôi
							</a>
						</li>
						<li>
							<a class="name-li" href="/myorder">
								Đơn hàng của tôi 
							</a>
						</li>
						<li>
							<a class="name-li" id="dangxuat" href="/logout">
								Đăng xuất
							</a>
						</li>
					</ul>
				  </li>
			<%}else{%>	
				<div > 
					<a class="sgout nav-link"href="/login" style="float: left;">
						<!-- <i class="fa fa-sign-out" aria-hidden="true"style=" font-size: 18px;"></i> -->
						<div class="header__navbar-item header__navbar-item--boid header__navbar-item--separate">Đăng nhập</div>	
					</a>
					<a class="sgout nav-link"href="/register" style="float: left; margin-left: -13px;">
						<!-- <i class="fa fa-sign-out" aria-hidden="true"style=" font-size: 18px;"></i> -->
						<div class="header__navbar-item header__navbar-item--boid">Đăng ký</div>		
					</a>			
				</div>


			<%}%>

		  
	  </div>
	</div>
	 <!-- COL-AUTO END -->
  </div>
  <div id="myModal" class="modal">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title">Ghi nhớ</h5>
			<span class="close">&times;</span>
		</div>
		<div class="modal-body">
		   
			<div class="cart-row">
				<span class="cart-item cart-header
					cart-column">Nhà hàng</span>
				<span class="cart-price cart-header
					cart-column" style="margin-left: -10px;">Số điện thoại</span>
			</div>
			<div id="ghinho" class="cart-items">
				<%ghinho.forEach((i,index)=>{%>
					<div class="cart-row">
						<div class="cart-item cart-column">
							<img class="cart-item-image"
								src=<%-i.Image%>
								width="100" height="100">
							<span class="cart-item-title"><%-i.Name%></span>
						</div>
						<span class="cart-price
							cart-column" ><%-i.hotline%></span>

			
						<a href="/chitiet?idprofile=<%-i._id%>"><input type="submit" class="btn btn-remove" value="Chi tiết nhà hàng" ></input></a>
							
					<div style="margin-left: 10px;">
						
						<button class="btn btn-remove btnRemoveMemo"   value="<%-index%>" >Xóa ghi nhớ này</button>
					</div>
					</div>

				<%})%>
		
			</div>

			<div class="modal-footer">
				<button type="button" class="btn
					btn-secondary close-footer">Đóng</button>
					<form action="/removeall" method="POST">
					<input class="btn btn-clearall" type="submit" value="Xóa toàn bộ ghi nhớ" ></input>
				</form>
			</div>
		</div>
	</div>
	</div>
</nav> 