<!DOCTYPE html>
<html>
  <head>
    <title>Đăng bài</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0″>
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous">
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script class="jsbin"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/poststyle.css">

  </head>
  <body>
    <!-- navbar-start -->
    <%include paticals/headerforadmin%>
    <!-- navbar-end -->
    <!-- main-start-->

        <form action="/admin/edit-order" method="POST">
          <div class="container">
            <div class="row">
              <div style="margin-left: 450px;color: #333; font-size: 18px;font-weight: 500; list-style: none;margin-bottom: 16px;color: red;">
                <% error.forEach((i)=>{%>
                   <li><%-i%></li>
                <% })%>
                
            </div>
              <div class="col-6 offset-3 content-NH">
                <h2 class="col-12 text-center">Chỉnh sửa đơn hàng</h2>


                <div class="col-12 nhaHang">
                  <div class="row">
                    <label class="col-3 name">Tên khách hàng</label>
                    <input class="col-9 tenNH" type="text" name="CustomerName" value="<%-data.CustomerName%>"
                      placeholder="Tên nhà hàng">
                  </div>
                </div>
                <div class="col-12 nhaHang">
                  <div class="row">
                    <label class="col-3 name">Email khách hàng</label>
                    <input class="col-9 tenNH" type="text" name="CustomerEmail" value="<%-data.CustomerEmail%>"
                      placeholder="Email khách hàng">
                  </div>
                </div>
                <div class="col-12 nhaHang">
                    <div class="row">
                      <label class="col-3 name">Địa chỉ nhà hàng</label>
                      <input class="col-9 tenNH" type="text" name="CustomerAddress" value="<%-data.CustomerAddress%>"
                        placeholder="Địa chỉ nhà hàng">
                    </div>
                  </div>
                <div class="col-12 nhaHang">
                  <div class="row">
                    <label class="col-3 name">Số điện thoại khách hàng</label>
                    <input class="col-9 tenNH" type="text" name="CustomerPhone" value="<%-data.CustomerPhone%>"
                      placeholder="Số điện thoại khách hàng">
                  </div>
                </div>
                <div class="col-12 nhaHang">
                    <div class="row">
                      <label class="col-3 name">Ghi chú khách hàng</label>
                      <input class="col-9 tenNH" type="text" name="Note" value="<%-data.Note%>"
                        placeholder="Ghi chú khách hàng">
                    </div>
                  </div>
                  <div class="col-12 nhaHang">
                    <div class="row">
                      <label class="col-3 name">Khu vực muốn đặt</label>
                      <input class="col-9 tenNH" type="text" name="Division" value="<%-data.Division%>"
                        placeholder="Khu vực muốn đặt">
                    </div>
                  </div>
                  <div class="col-12 nhaHang">
                    <div class="row">
                      <label class="col-3 name">Số lượng thực khách</label>
                      <input class="col-9 tenNH" type="text" name="CustomerCapacity" value="<%-data.CustomerCapacity%>"
                        placeholder="Số lượng thực khách">
                    </div>
                  </div>
                  <div class="col-12 nhaHang">
                    <div class="row">
                      <label class="col-3 name">Gía suất muốn đặt</label>
                      <input class="col-9 tenNH" type="text" name="CustomerPrice" value="<%-data.CustomerPrice%>"
                        placeholder="Gía suất muốn đặt">
                    </div>
                  </div>
                  <div class="col-12 nhaHang">
                    <div class="row">
                      <label class="col-3 name">ID nhà hàng</label>
                      <input class="col-9 tenNH" type="text" name="Idrestaurant" value="<%-data.Idrestaurant%>"
                        placeholder="ID nhà hàng">
                    </div>
                  </div>
                  <div class="col-12 nhaHang">
                    <div class="row">
                      <label class="col-3 name">ID khách hàng</label>
                      <input class="col-9 tenNH" type="text" name="IdCustomer" value="<%-data.IdCustomer%>"
                        placeholder="ID khách hàng">
                    </div>
                  </div>
                  <div class="col-12 nhaHang">
                    <div class="row">
                      <label class="col-3 name">Tên nhà hàng</label>
                      <input class="col-9 tenNH" type="text" name="NameRestaurant" value="<%-data.NameRestaurant%>"
                        placeholder="Tên nhà hàng">
                    </div>
                  </div>
                  <div class="col-12 nhaHang">
                    <div class="row">
                      <label class="col-3 name">Địa chỉ nhà hàng</label>
                      <input class="col-9 tenNH" type="text" name="RestaurantAddress" value="<%-data.RestaurantAddress%>"
                        placeholder="Địa chỉ nhà hàng">
                    </div>
                  </div>
                  <div class="col-12 nhaHang">
                    <div class="row">
                      <label class="col-3 name">Tổng tiền</label>
                      <input class="col-9 tenNH" type="text" name="PriceTotal" value="<%-data.PriceTotal%>"
                        placeholder="Tổng tiền">
                    </div>
                  </div>
                  <div class="col-12 nhaHang">
                    <div class="row">
                      <label class="col-3 name">ID Voucher</label>
                      <input class="col-9 tenNH" type="text" name="Idvoucher" value="<%-data.Idvoucher%>"
                        placeholder="ID Voucher">
                    </div>
                  </div>
                  <div class="col-12 nhaHang">
                    <div class="row">
                      <label class="col-3 name">Mã voucher</label>
                      <input class="col-9 tenNH" type="text" name="VoucherCode" value="<%-data.VoucherCode%>"
                        placeholder="Mã voucher">
                    </div>
                  </div>
                  <div class="col-12 nhaHang">
                    <div class="row">
                      <label class="col-3 name">Phần trăm được giảm</label>
                      <input class="col-9 tenNH" type="text" name="Redution" value="<%-data.Redution%>"
                        placeholder="Phần trăm được giảm">
                    </div>
                  </div>
                  <div class="col-12 nhaHang">
                    <div class="row">
                      <label class="col-3 name">Số tiền cần thanh toán</label>
                      <input class="col-9 tenNH" type="text" name="PricePay" value="<%-data.PricePay%>"
                        placeholder="Số tiền cần thanh toán">
                    </div>
                  </div>
                  <div class="col-12 nhaHang">
                    <div class="row">
                      <label class="col-3 name">Tình trạng đơn hàng</label>
                      <input class="col-9 tenNH" type="text" name="Orderstatus" value="<%-data.Orderstatus%>"
                        placeholder="Tình trạng đơn hàng">
                    </div>
                  </div>
                  <div class="col-12 nhaHang">
                    <div class="row">
                      <label class="col-3 name">Thời gian tạo đơn hàng</label>
                      <input class="col-9 tenNH" type="text" name="Timeorder" value="<%-data.Timeorder%>"
                        placeholder="Thời gian tạo đơn hàng">
                    </div>
                  </div>
                  
               
              </div>
              <!-- upload img -->
            </div>
            <!-- dang and caapj nhaapj -->
            <div class="col-12 text-center">
                <input type="text" name="idorder"  value="<%-data._id%>" style="display: none;">
              <input class="datcho" type="submit" value="Chỉnh sửa">
            </div>

          </div>
        </div>
      </form>

        <!-- main-end -->
        <!-- footer start -->
        <div class="container-fluid footer">
          <div class="row footer-cha">
            <div class="col-3 footer-trai">
              <img width="207" src="./img/W.WR.png" alt class="logo">
              <p class="text">NHA HANG TIEC CUOI</p>
              <p class="diachi">254 Phan Thanh, P.Thac Gian, Thanh Khe, Da Nang</p>
            </div>
            <div class="col-9 footer-phai">
              <div class="m1">
                <img class="img-icon"
                  src="http://tieccuoicatkhanh.vn/wp-content/uploads/2017/icon/icon-f-fone.png">
                <p class="sub-m" style="margin: 0px;"></p>
                <p class="sub-m">DIEN THOAI</p>
                <p>(028) 3963 3523</p>
              </div>
              <div class="m2">
                <img class="img-icon"
                  src="http://tieccuoicatkhanh.vn/wp-content/uploads/2017/icon/icon-f-hotline.png">
                <p class="sub-m" style="margin: 0px;"></p>
                <p class="sub-m">HOTLINE</p>
                <p>0905234823</p>
              </div>
              <div class="m3">
                <img class="img-icon"
                  src="http://tieccuoicatkhanh.vn/wp-content/uploads/2017/icon/icon-f-email.png">
                <p class="sub-m" style="margin: 0px;"></p>
                <p class="sub-m">GMAIL</p>
                <p>weddingrestaurant@gmail.com</p>
              </div>
              <p>website: weddingrestaurant.vn - © Copyright 2012 - 2019 Duy Tan</p>
            </div>
          </div>
        </div>
        <!-- footer end -->
      </body>
    </html>