<!DOCTYPE html>
<html>
<head>

	<title>Tin nhắn của tôi</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0″>
   	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="/lib/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/stylehome.css">
    <link rel="stylesheet" type="text/css" href="/css/stylelistchat.css">
</head>
<body>
<!-- navbar-start -->

<% include paticals/headerforres%>
<!-- navbar-end -->

<!-- khungchat start -->
<div class="khung">
	<div class="container">
		<div class="row no-gutters " style="height: 600px;">
		  	<div class="col-md-10 border-right vienKhung offset-1">
		  		<div class="setting-main">
		  			<a href="">
						  <%if(dataRes){%>
							<img class="profile-image"src="<%-dataRes.Image%>" alt="Profile image">
						 <% }else{%>
							<img class="profile-image"src="/person-icon.png" alt="Profile image">
						 <%}%>
					
							<p class="name"><%-fullname%></p>
							<span class="setting-tray float-right setting-right">
								<i class="fa fa-refresh" aria-hidden="true"></i> <!--cached -->
								<i class="fa fa-commenting" aria-hidden="true"></i> <!--message -->
								<i class="fa fa-bars" aria-hidden="true"></i><!--menu -->
							</span>
					</a>
				</div>
				<div class="search-box">
				</div>
				<br/>
                           <% listchat.forEach((i)=>{%>
                            <a href="/restaurant/chatonline?idcus=<%-i.IdCustomer%>&idres=<%-i.IdRestaurant%>">
                            <div class="friend-drawer friend-onhover">
                                <img class="profile-image" src="<%-i.imageCus%>" alt="">
                                <div class="text">
                                  <h6><%-i.CusName%></h6>
                                  <p class="text-muted"><%-i.Chat[i.Chat.length - 1].chatcontent%></p>
                                </div>
                                <span class="time text-muted small"><%-i.Chat[i.Chat.length - 1].time%></span>
                          </div>
                        </a>
                          <hr>
                            <%})%>
			</div>
		</div>
	</div>
</div>
<!-- khungchat end -->
<!-- footer start -->
<% include paticals/footerforres%>
<!-- footer end -->
</body>
</html>